<div class="movie-body">

  <%= image_tag 'Cinema.jpg', class: 'movie-banner' %>

  <div class="banner-headline">
    <h1><%= @list.name %></h1>
  </div>

  <div class="container">

    <div class="xmovie-list">
      <%# link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-flat" %>
    </div>

    <div class="bookmark_form">
      <h3>Add a new movie</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :movie_id, collection: Movie.all , placeholder: 'Choose a movie' %>
        <%= f.input :comment, placeholder: 'Amazing action scenes' %>
        <%= f.submit class: 'btn btn-flat' %>
      <% end %>
    </div>

    <div class="movies">
      <% @list.bookmarks.each do |bookmark| %>
          <div class="movie-card">
            <%= image_tag "#{bookmark.movie.poster_url}" %>
            <div class="movie-info">
              <p>
                <%= bookmark.movie.title %>
                •
                <%= bookmark.movie.rating %>
              </p>
            </div>
            <div class="movie-overview">
              <%= bookmark.movie.overview %>
            </div>
            <div class="movie-bottom">
              <p>"" <%= bookmark.comment %></p>
              <%= link_to "Delete",
                  bookmark_path(bookmark),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete this movie?"}
              %>
            </div>
          </div>
      <% end %>
    </div>

  </div>

</div>
